form{
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 50px;
}

input{
  border: 1px solid #e14f49;
  background-color: #ffffff;
  padding: 10px;
  color: #e14f49;
  font-weight: bold;
}

input:focus{
  background-color: #aa3d39;
  color: #fff;
}

.main-wrapper{
  width: 700px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

.form-title{
  color: #fff;
  background-color: #63c2e3;
  font-weight: bolder;
  font-size: 20px;
  width: 100%;
}

body{
  background-color: #eef0f0;
  box-sizing: border-box;
  margin: 0;
}

form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.text-field{
  width: 160px;
  border-radius: 5px;
}
form > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

span{
  grid-column: 2 / 3;
  padding: 10px;
  text-align: center;
  background-color: #e14f49;
}

.button{
  background-color: #e14f49;
  grid-column: 1 / 3;
  font-weight: bolder;
  color: #fff;
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 1px 5px  #333;
}

.button:hover{
  background-color: #923431;
}

@media screen and (max-width: 600px){
  .form-wrapper{
      width: 70%;
  }
}


/* RADIO STYLE */
input[type=radio]{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   display: inline-block;
   background-color: #f1f1f1;
   color: #666;
   top: 10px;
   height: 30px;
   width: 30px;
   border: 0;
   border-radius: 50px;
   cursor: pointer;     
   margin-right: 7px;
   outline: none;
}
input[type=radio]:checked::before{
   font: 13px/1 'Open Sans', sans-serif;
   left: 11px;
   top: 7px;
   content: '\02143';
   transform: rotate(40deg);
}
input[type=radio]:hover{
   background-color: #f7f7f7;
}
input[type=radio]:checked {
   transform: rotate(45deg);
   background-color: #f1f1f1;
}
label {
   font: 15px/1.7 'Open Sans', sans-serif;
   color: #333;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   cursor: pointer;
}

.radios-wrapper{
  display: flex;
  flex-flow: row wrap;
}

.gender-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
}

.gender-label{
  border: 0;  
  margin: 0;
}

.hobbies-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
}

.boxes-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

.hobby-label{
  align-self: center;
}

.color-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.colors-dropdown{
  position: relative;
  display: inline-block;
  background-color: #63c2e3;
  border: 0px solid;
  border-radius: 2px;
}

.colors-dropdown:hover {
  display: block;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
  width: 300px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.lists-wrappers{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.textarea-wrapper{
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 30px 50px;
}

.textarea-label{
    grid-column: 1 / 3;
}

/* CHECKBOXES STYLE */
input[type=checkbox]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;     
  margin-right: 7px;
  outline: none;
}
input[type=checkbox]:checked::before{
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}
input[type=checkbox]:hover{
  background-color: #f7f7f7;
}
input[type=checkbox]:checked {
  background-color: #f1f1f1;
}
label {
  font: 15px/1.7 'Open Sans', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
} 


/* Table Desing */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 5px solid #fff;
}
    
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
    color: black;
}

tr:nth-child(even) {
  background-color: #63c2e3;
}
